@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Integral CF";
    src: url("/fonts/IntegralCF-Regular.woff") format("woff");
    font-weight: 400;
  }
}
